.staff-management {
    display: flex;
    width: 100%;
  
    .staff-management-container {
      flex: 6;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); 
  
      .staff-management-body {
        padding: 20px;
  
        .staff-management-tabs {
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); 
          padding: 20px;
        }
      }
    }
  }
  