.admin-management {
  display: flex;
  width: 100%;

  .admin-management-container {
    flex: 6;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .admin-management-body {
      padding: 20px;

      .admin-management-tabs {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
      }
    }
  }
}
