.user-reservation {
  display: flex;
  width: 100%;

  .user-reservation-container {
    flex: 6;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .user-reservation-body {
      padding: 20px;

      .user-reservation-tabs {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
      }
    }
  }
}
