.research-document {
    display: flex;
    width: 100%;
  
    .research-document-container {
      flex: 6;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  
      .research-document-body {
        padding: 20px;
  
        .research-document-tabs {
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 20px;
        }
      }
    }
  }
  