.page-layout {
  display: flex;
  width: 100%; 

  .page-layout-container {
    flex: 6;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .page-layout-body {
      padding: 20px;
    }
  }
}
